.cv{
    width: 800px; 
    height: 950px;
    border: 3px solid black;  
    background-color: grey; 
    padding: 50px;

    
}


.titulo h1{
    display: flex;
    justify-content: center;
}

.titulo img{

    width: 150px;
    height: 200px;
}

.info{
    display: grid;
    justify-content: center;
    
}

.info ul{
    list-style: none;
}
.info li{
    border-bottom: 1px solid;
    margin-left: 0%; 
    font-size: 20px; 
    margin-bottom: 25px;
}

section{
    background-color: indigo;
    padding: 80px;
    margin-top: 30px;
}

section p{
    font-size: 20px;
    color: white; 
}